# Instance Space
INSTANCE_DOMAIN = botsin.space

# Configure your app name
APP_NAME = "yourbot"

# Bot username and password
BOT_USERNAME = secure1234@gmail.com
BOT_PASSWORD = so_secure_very_bot

# Twitter Bot Info
# Get yours from https://developer.twitter.com/en/portal
TWITTER_BEARER_TOKEN = AAAAAAAA...

# List of Twitter Accounts
# * Add your twitter accounts here
# * Regarding Account Format
#  - You can set to `twitter_handle:language` or `twitter_handle` per each line.
#  - `language` will be set to `en` when `language` is not passed on the line
#  - `language` follows ISO-639-1 codes (https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes)
#  - It is STRONGLY RECOMMENDED to set `language` for multi-language support.
TWITTER_ACCOUNT_LIST = "
    pj_sekai:ja
    pjsekai_event:ja
    CP_inc_official
    kr_pjsekai:ko
    prsk_fan_gamer:ko
"
